@use 'sass:map';

@use 'common/var' as *;
@use 'mixins/mixins' as *;
@use 'mixins/utils' as *;
@use 'mixins/var' as *;

$G4: #e1e1e1;
$G9: #313233;
$main-color: #3b6cff;

@include b('radio-group-button') {
    display: flex;
    border: 1px solid $G4;
    border-radius: 2px;

    @include e('item') {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: content-box;
        color: $G9;
        font-size: 13px;
        padding: 0 10px;
        border-right: 1px solid $G4;
        cursor: pointer;
        &:last-child {
            border-right: none;
        }

        &:hover {
          color: $main-color;
        }

        // todo 待优化, 应该用变量来控制 component-size: sm md lg xl
        @include m('md') {
            height: 32px;
        }

        @include m('sm') {
            height: 26px;
        }

        @include when('disabled') {
          cursor: not-allowed;
          background: rgb(242, 242, 242);
          color: $G9;
        }

        @include m('on') {
            color: $main-color;
            font-weight: 500;
            &::after {
                box-sizing: content-box; // 为了兼容 scb-front
                content: '';
                position: absolute;
                top: -1px;
                left: -1px;
                width: 100%;
                height: 100%;
                z-index: 1;
                border: 1px solid $main-color;
            }
        }

        @include m('on-first') {
            &::after {
                border-radius: 2px 0px 0px 2px;
            }
        }
        @include m('on-last') {
            &::after {
              border-radius: 0px 2px 2px 0px;
            }
        }
    }
}
